/*
COLOURS:
lightest: whitesmoke
darkest: #5d4e60
medium: lavender

accent: goldenrod
primary: dimgrey

*/

* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}


/**************************************************
 * BODY
 **************************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  padding: 0;
  margin: 0;
  line-height: 18px;
  font-family: Roboto, sans-serif;
}

body {
  background-color: whitesmoke;
  color: dimgrey;
}

h1 {
  font-size: 48px;
  color: goldenrod;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  color: goldenrod;
  line-height: 29px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #5d4e60;
  line-height: 22px;
}

h4 {
  /*font-weight: 700;*/
  font-weight: normal;
  font-size: 18px;
  color: goldenrod;
  /*line-height: 17px;*/
  line-height: 24px;
  /*padding: 0 5%;*/
  width: 100%;
}

h2,
h3,
h5 {
  padding: 10px 5%;
}

h1 + span {
  color: #4d3e50;
  /*font-weight: bold;*/
  font-size: x-large;
  line-height: 1.75;
  /*vertical-align: middle;*/

}

hr {
  border: 1px groove whitesmoke;
}

p,
figcaption {
  font-size: 14px;
  color: dimgrey;
  line-height: 21px;
  padding: 2px;
  text-align: justify;
}

a, button {
  color: #5d4e60;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

li > a,
.skills-ul li {
  display: flex;
  align-items: center;
}

span {
  padding: 5px;
}


/**************************************************
* MODULES
**************************************************/

.centered {
  margin: 0 auto;
}

.center-content {
  padding: 2.5% 5%;
}

.bright {
  border-bottom: 1px solid goldenrod;
  /*background-color: dimgrey;*/
  /*border-radius: 0 0 5px 5px;*/
}

.flex-box {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-box,
.flex-column {
  display: -ms-flexbox;
  display: flex;
  /*width: 100%;*/
  /*padding: 10px;*/
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  align-items: center;
}

.clear-fix {
  overflow: auto;
}

.topContacts .flex-item:hover .white-text,
.skills-ul .flex-item:hover .white-text {
  color: #5d4e60;
}

#footerContacts {
  /*border-radius: 5px;*/
  padding: 0 0 15px;
  /*background-color: dimgrey;*/
}

#footerContacts .flex-item:hover .white-text {
  font-style: italic;
}

.italic-link:hover {
  font-style: normal;
}

.entry-header {
  display: flex;
  align-items: center;
}

.clickable {
  min-height: 48px;
}

.italic,
.italic-link,
.clickable:hover {
  font-style: italic;
}

.date-text,
.location-text {
  font-style: italic;
  font-size: 14px;
  color: dimgrey;
  line-height: 16px;
  padding: 2px 0 0;
}

.date-text {
  flex: 0 1 35%;
}

.location-text {
  flex: 1 0 60%;
  text-align: right;
}

.location-text + p {
  flex-basis: 100%;
}

.dark-text {
  color: #5d4e60;
}

.gold-text {
  color: goldenrod;
}

.white-text {
  font-weight: 700;
  color: whitesmoke;
  margin-left: 5px;
}

.fa,
.fa-lg {
  /* important because fontAwesome script is after css link */
  line-height: 18px !important;
}


/**************************************************
 * Layout --
 * HEADER
 **************************************************/

#main {
  width: 100%;
}

#header-wrapper {
  background-color: #5d4e60;
  /*max-width: 1000px;*/
  /*margin: 0 auto;*/
}

#footer {
  background-color: #5d4e60;
}

#header,
#workExperience,
#projects,
#education,
#mapDiv,
#lets-connect {
  max-width: 800px;
  margin: 0 auto;
}

#header {
  padding: 5% 5% 1%;
  background: #5d4e60;
  /*background: dimgrey url(./../../src/images/transparent\ textures/rocky-wall.png);*/
}

.header {
  border-bottom: 1px solid goldenrod;
  /*padding: 0;*/
  /*flex-basis: 100%;*/
}

/*******************************/

#contacts,
#skills {
  margin: 4% auto;
}

#skills {
  /*margin-bottom: 0;*/
}

.contacts-h3,
.skills-h3 {
  color: goldenrod;
  border-radius: 5px;
  /*border: 1px dotted #4d3e50;*/
  box-shadow: 1px 1px 2px 1px #4d3e50;
  /*background-color: #5d4e60;*/
  /*margin: 5% 0;*/
  min-height: 40px;
  line-height: 32px;
}

.skills-ul .flex-item {
  min-height: 48px;
}

.skills-ul .white-text {
  margin-left: 0;
}

.topContacts,
.skills-toggle {
  /*padding:0 0 10px;*/
  border: 1px dotted #4d3e50;
  border-top: 0;
  border-radius: 0 0 10px 10px;
}

/*TODO: Allow topContacts to be seen, maybe in menu along
with skills?
*/

/*******************************/


.welcome-message {
  flex-basis: 100%;
  font-style: italic;
  font-size: 16px;
  color: lavender;
  line-height: 24px;
  text-align: justify;
  text-indent: 1em;
  padding: 10px;
  max-width: 500px;
}

.biopic {
  /*padding: 5%;*/
  /*float: left;*/
  margin: 5%;
  /*max-height: 100%;*/
  /*max-width: 100%;*/
  max-width: 200px;
  max-height: 150px;
  /*display: none;*/
  border-radius: 30px;
  /*border: 3px solid #5d4e60;*/
  border: 1px dotted goldenrod;
}


/*************************************************
 * JOBS
 * PROJECTS
 * EDUCATION
 *************************************************/


#workExperience,
#projects,
#education,
#mapDiv {
  padding: 0 5%;
  margin: 4% auto;
  background-color: whitesmoke;
}

#header-wrapper {
  /*padding-bottom: 5%;*/
  border-bottom: 1px solid goldenrod;
}

#footer {
  /*padding-bottom: 5%;*/
  border-top: 1px solid goldenrod;
}

.work-heading,
.project-heading,
.education-heading,
#mapDiv h2 {
  border-radius: 5px;
  /*border: 1px solid dimgrey;*/
  box-shadow: 1px 1px 6px 0px dimgrey;
  /*background-color: dimgrey;*/
  min-height: 40px;
  line-height: 32px;
  cursor: pointer;
}

.toggle {
  display: none;
}

.work-entry,
.project-entry,
.education-entry {
  margin: 8% auto;
  padding: 5px; /*inside each entry*/
  border-radius: 15px;
  justify-content: space-between;
  max-width: calc(600px - 10vw);
}

.work-entry {
  padding: 10px;
  /*border: 2px dotted lavender;*/
}

.project-entry,
.education-entry {
  /*border: 1px solid lavender;*/
  /*box-shadow: 2px 2px 4px 1px dimgrey;*/
}

.education-entry .link-text {
  flex: 1 0 50%;
  margin: 5px 50% 5px 0;
  padding: 10px 5px;
  min-height: 40px;
  border-radius: 5px;
  border: 1px solid lavender;
  box-shadow: 1px 1px 2px 0px dimgrey;
  cursor: pointer;
}

.work-entry p,
.project-entry figcaption,
.education-entry p {
  border-top: 1px dotted dimgrey;
  /*border-top: 2px solid lavender;*/
}

.education-entry a:last-of-type {
  /*margin-top: 0;*/
}

.image {
  max-width: 100%;
  border: 1px solid lavender;
  border-radius: 10px;
}

.project-entry .image {
  box-shadow: 1px 1px 4px 0 dimgrey;
}

/**************************************************
 * FOOTER & MAP
 **************************************************/

.map-toggle {
  margin: 5% 10%;
}

.map-toggle h4 {
  font-style: italic;
  padding: 0 0 5px;
  /*color: #5d4e60;*/
}

#map {
  display: block;
  height: 400px;
}

#lets-connect {
  text-align: center;
  /*padding: 0 0 30px;*/
}

/**************************************************
 * MODAL MODIFICATIONS
 **************************************************/

figure {
  /*border: 1px solid grey;*/
  /*padding: 3px;*/
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.modal-title {
  font-size: larger;
}

.modal-body {
  padding: 0;
}


/**************************************************
 * MEDIA QUERIES
 **************************************************/

