/*
COLOURS:
lightest: whitesmoke
darkest: #5d4e60
medium: lavender

accent: goldenrod
primary: dimgrey

*/

* {
  /*border: 1px solid red;*/
}


/**************************************************
 * BODY
 **************************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

body {
  background-color: whitesmoke;
  color: dimgrey;
}

h1 {
  font-size: 40px;
  color: goldenrod;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  color: goldenrod;
  line-height: 29px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #5d4e60;
  line-height: 22px;
}

h4 {
  /*font-weight: 700;*/
  font-weight: normal;
  font-size: 16px;
  color: goldenrod;
  /*line-height: 17px;*/
  line-height: 24px;
  min-height: 48px;
  /*padding: 0 5%;*/
  width: 100%;
}

h2,
h3,
h5 {
  padding: 10px 5%;
}

h1 + span {
  color: #5d4e60;
  /*font-weight: bold;*/
  font-size: larger;
  line-height: 1.75;
  /*vertical-align: middle;*/

}

hr {
  border: 1px groove whitesmoke;
}

p,
figcaption {
  font-size: 14px;
  color: dimgrey;
  line-height: 21px;
  /*padding: 5px;*/
  width: 100%;
}

a, button {
  color: #5d4e60;
  text-decoration: none;
  min-height: 48px;
  cursor: pointer;
}

ul {
  list-style: none;
}

li > a,
#skills li {
  display: flex;
  padding: 1px;
  align-items: center;
}

span {
  padding: 5px;
}

/**************************************************
* MODULES
**************************************************/

.center-content {
  padding: 2.5% 5%;
}

.date-text {
  float: left;
}

.date-text,
.location-text {
  font-style: italic;
  font-size: 14px;
  color: dimgrey;
  line-height: 16px;
  padding: 2px 4px 0 0;
}

.location-text {
  float: right;
}

.fa,
.gold-text {
  color: goldenrod;
}

.fa {
  line-height: 16px;
}

.white-text {
  font-weight: 700;
  color: whitesmoke;
}

.gray {
  background-color: lavender;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #5d4e60;
}

.flex-box {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-box,
.flex-column {
  display: -ms-flexbox;
  display: flex;
  /*width: 100%;*/
  /*padding: 10px;*/
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  align-items: center;
}

.clear-fix {
  overflow: auto;
}

.bright {
  background-color: dimgrey;
}

.flex-item:hover .white-text {
  color: #5d4e60;
}

.text-link {
  color: lavender;
}

.text-link:hover {
  /*font-weight: bold;*/
  /*text-decoration: underline;*/
  font-style: normal;
}

.header-link {
  display: flex;
  align-items: center;
}

.header-link:hover {
  font-style: italic;
}

/*********************************************************************
 * LAYOUT ***********************************************************/

#header {
  padding: 5%;
  background: dimgrey;
  /*background: dimgrey url(./../../src/images/transparent\ textures/rocky-wall.png);*/
}




/**************************************************
 * HEADER
 **************************************************/

.header {
  /*padding: 0;*/
}

/*******************************/

#topContacts {
  /*padding:0 0 10px;*/
  /*display: none;*/
}

/*TODO: Allow topContacts to be seen, maybe in menu along
with skills?
*/

/*******************************/


.welcome-message {
  flex-basis: 100%;
  font-style: italic;
  font-size: 16px;
  color: lavender;
  line-height: 24px;
  text-align: justify;
  text-indent: 1em;
  padding: 10px 10px 20px;
}

.biopic {
  padding: 5%;
  /*float: left;*/
  margin: 5%;
  /*max-height: 100%;*/
  /*max-width: 100%;*/
  max-width: 200px;
  max-height: 150px;
  /*display: none;*/
  border-radius: 10px;
}

#skills-h3 {
  color: goldenrod;
  /*display: none;*/
}


/*************************************************
 * JOBS
 * PROJECTS
 * EDUCATION
 *************************************************/

/*
TODO: create "hamburger menu" to hide all
but headers of WorkExperience, projects & education
*/

#workExperience,
#projects,
#education {
  padding: 10px 5%;
}

.work-entry,
.project-entry,
.education-entry {
  margin: 10px auto;
  border: 1px solid dimgrey;
  justify-content: space-between;
  padding: 3px; /*inside each entry*/
  max-width: calc(600px - 10vw);
}
.work-entry:first-of-type {
  margin-top: 0;
}

.work-entry p,
.education-entry p {
  border-top: 1px solid dimgrey;
}

.education-entry a:last-of-type {
  margin-top: 0;
}

.project-entry > figure {
  width: 100%;
  /*height: 125px;*/
  /*border-top: 1px solid dimgrey;*/
  margin: 0;
}

.project-entry img {
  max-width: 100%;
  /*border-radius: 10px;*/
  /*height*/
}


/**************************************************
 * FOOTER & MAP
 **************************************************/

#lets-connect {
  text-align: center;
}

#map {
  display: block;
  height: 100%;
  margin: 0 10%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

/**************************************************
 * MEDIA QUERIES
 **************************************************/

